.DS_Store
.env*
/node_modules/
package-lock.json
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
wrangler.jsonc
.dev.vars*
worker-configuration.d.ts


!.dev.vars.example
!.env.example
!wrangler.example.jsonc
